.card {
  width: 30px;
  height: 40px;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: 5px 1px;
  vertical-align: top;
  &.red {
    color: red;
  }
  &.black {
    color: black;
  }
  &.facedown {
    background: #99f;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(0,0,0,.3) 4px, rgba(0,0,0,.3) 8px);
  }
}
.tricks {
  display: none;
}