.card {
  width: 30px;
  height: 40px;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin: 5px 1px;
  vertical-align: top;
  &.red {
    color: red;
  }
  &.black {
    color: black;
  }
}